


.navbar{
    height: 13vh;
    background-color: rgb(238, 238, 238);
}
#navbarNav{
    display: flex;
    justify-content:flex-end;
}
.navbar-brand img{
    width: 10vw;
    height: 7vh;
    margin: 20px;
}
.nav-item{
    border: 1px rgb(0, 0, 0) solid;
    margin: 10px;
    width: 7vw;
    height: 5vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.nav-item a{
    position: relative;
    top: -15%;
    height: 10vh;
}

.subtitle{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 148, 232);
    width: 100%;
    height: 13vh;
}
.subtitle a{
    position: relative;
    top: 30%;
    text-decoration: none;
    color: black;
}
.subtitle h2{
    position: relative;
    top: 30%;
}
form{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 10vh;
}
.category{
    margin: 20px;
}


footer{
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: space-between;
}
footer a img{
    width: 40px;
    height: 40px;
    margin: 15px;
}
footer p{
    margin-right: 50px;
    margin-top: 15px;
    font-size:x-large;
}
